* {
    font-family: "Fira Sans", serif;
}
body {
    margin: 24px 160px;
}
header {
    margin: 24px 0;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-btn {
    font-size: 18px;
    color: #006a50;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #006a50;
    border-radius: 8px;
    transition: 0.5s ease;
}
.sign-btn:hover {
    color: wheat;
    /* transform: scale(1.2); */
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #03210a;
    transition: 0.5 ease;
}

a {
    font-size: 30px;
    font-weight: bold;
}
/* banner style start */
.banner-style {
    border-radius: 24px;
    background: #c6e4d6;
    margin-bottom: 80px;
}
.banner-container {
    display: flex;
    gap: 64px;
    padding: 80px 100px;
    align-items: center;
}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-description {
    margin: 0;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: 700;
}
/* primary btn style */
.primary-btn {
    color: #fff;
    background: #006a50;
    border: #006a50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 34px;
    transition: 0.5s ease;
}
.primary-btn:hover {
    font-weight: bold;
    color: wheat;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #1c68e3ef;
    transition: 0.4s ease;
}
/* vision and future style */
.vision-heading {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
}

/* digital card style */
.digital-card-container {
    margin: 32px 0;
}
.card-container {
    display: flex;
    gap: 24px;
}
.digital-card1 {
    border-radius: 16px;
    background: rgba(84, 143, 245, 0.466);
    padding: 32px;
}
.digital-card1:hover {
    background-color: #195c48da;
    transition: 0.3s ease-in;
}
.digital-btn1:hover {
    font-weight: bold;
    color: wheat;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #03210a;
    transition: 0.2s ease;
}
.digital-card2 {
    border-radius: 16px;
    background: rgba(65, 219, 233, 0.445);
    padding: 32px;
}
.digital-card2:hover {
    background: rgba(47, 72, 119, 0.79);
    transition: 0.3s ease-in;
}
.digital-btn2:hover {
    color: wheat;
    background-color: #5490f5;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: 0.3s ease-in;
}
.digital-card3 {
    border-radius: 16px;
    background: rgba(206, 237, 121, 0.443);
    padding: 32px;
}
.digital-card3:hover {
    background-color: #f37844d4;
    transition: 0.3s ease-in;
}
.digital-btn3:hover {
    color: wheat;
    background-color: #0c3034;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: 0.2s ease;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 24px 0 12px 0;
}
.card-description {
    margin: 0 0 24px 0;
}
.card-another-description {
    margin-top: auto;
}

.digital-btn1 {
    color: #fff;
    font-weight: 600;
    border: #548ff5d9;
    padding: 11px 22px;
    border-radius: 8px;
    background: #5490f5;
}
.digital-btn2 {
    color: #fff;
    font-weight: 600;
    border: #128ec793;
    padding: 11px 22px;
    border-radius: 8px;
    background: #071e13bd;
}
.digital-btn3 {
    color: #fff;
    font-weight: 600;
    border: #3bc88493;
    padding: 11px 22px;
    border-radius: 8px;
    background: #d54444d8;
}
/* quote section style */

.quote-container {
    padding: 24px 48px;
    border-radius: 12px;
    background: #f7efefc8;
    margin-bottom: 40px;
}
.quote-container:hover {
    background: #ea6a6aca;
    transition: 0.3s ease-in;
}
.quote-img {
    position: absolute;
}
.quote-description {
    margin: 0;
    margin-bottom: 12px;
}
.quote-honest-man {
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
}
.quote-bangladesh {
    margin: 0;
    color: rgba(14, 14, 14, 0.7);
}
/* news letter card style*/
.newsletter-container {
    margin-bottom: 80px;
}
.news-img {
    border-radius: 24px;
}
.news-card-container {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    border-radius: 16px;
    background: rgb(246, 245, 245);
}
.news-card-container:hover {
    background-color: #58d9e8e6;
    transition: 0.3s ease-in;
}
.news-card-title {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
    margin-bottom: 12px;
}
.news-date {
    margin: 0;
    margin: 12px 0;
}
.news-description {
    margin: 0;
    margin: 12px 0 32px;
}
.news-btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #006a50;
    border-radius: 8px;
    border: 0;
    padding: 13px 26px;
}
.news-btn:hover {
    color: wheat;
    background-color: #092428;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: 0.3s ease;
}
.news-card2 {
    flex-direction: row-reverse;
}
/* donate section style */
.donate-container {
    text-align: center;
    margin-bottom: 80px;
}
.donate-description {
    text-align: center;
    max-width: 90%;
}
.donate-amount > ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 32px 0;
}
.taka-donate {
    background: #42f49b98;
}
.donate-amount > ul > li {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 40px;
}
.donate-amount > ul > li:hover {
    color: wheat;
    background: #197e6a;
}
.amount-donate {
    margin: 0 0 32px 0;
    width: 845px;
    padding: 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    background: #fff;
    text-align: center;
}
.done-amount {
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
    background: #006a50;
    color: white;
    padding: 17px 34px;
}
.done-amount:hover {
    color: wheat;
    background-color: #2f77f5;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    transition: background-color 0.3s ease;
}
.sub-container {
    padding: 80px 100px;
    border-radius: 16px;
    text-align: center;
    background: #c6e4d6;
    margin-bottom: 80px;
}
.sub-input {
    display: flex;
    padding: 18px 40px;
    align-items: center;
    border-radius: 0 8px 8px 0;
}
input::placeholder {
    text-align: start;
}
.enter-email {
    width: 550px;
    padding: 18px 40px;
    border: 1px solid #006a50;
    border-radius: 5px 0 0 5px;
}
.input-btn {
    display: inline-flex;
    margin: 24px 0;
}
