* {
    font-family: "Fira Sans", serif;
}
body {
    margin: 24px 160px;
}
header {
    margin: 24px 0;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-btn {
    font-size: 18px;
    color: #006a50;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #006a50;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
/* .primary-btn {
    background-color: #006a40;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
} */
.sign-btn:hover {
    color: wheat;
    transform: scale(1.2);
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #03210a;
    transition: background-color 0.3s ease;
}
.primary-btn:hover {
    font-weight: bold;
    color: wheat;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #03210a;
    transition: background-color 0.3s ease;
}
a {
    font-size: 30px;
    font-weight: bold;
}
/* banner style start */
.banner-style {
    border-radius: 24px;
    background: #c6e4d6;
    margin-bottom: 80px;
}
.banner-container {
    display: flex;
    gap: 64px;
    padding: 80px 100px;
    align-items: center;
}

.banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-description {
    margin: 0;
    margin-bottom: 24px;
    font-size: 56px;
    font-weight: 700;
}
/* primary btn style */
.primary-btn {
    color: #fff;
    background: #006a50;
    border: #006a50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 34px;
}
/* vision and future style */
.vision-heading {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
}

/* digital card style */
.digital-card-container {
    margin: 32px 0;
}
.card-container {
    display: flex;
    gap: 24px;
}
.digital-card1 {
    border-radius: 16px;
    background: rgba(84, 143, 245, 0.466);
    padding: 32px;
}
.digital-btn1:hover {
    font-weight: bold;
    color: wheat;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    background-color: #03210a;
    transition: background-color 0.3s ease;
}
.digital-card2 {
    border-radius: 16px;
    background: rgba(65, 219, 233, 0.445);
    padding: 32px;
}
.digital-btn2:hover {
    color: wheat;
    background-color: #5490f5;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: background-color 0.3s ease;
}
.digital-card3 {
    border-radius: 16px;
    background: rgba(206, 237, 121, 0.443);
    padding: 32px;
}
.digital-btn3:hover {
    color: wheat;
    background-color: #0c3034;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: background-color 0.3s ease;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin: 24px 0 12px 0;
}
.card-description {
    margin: 0 0 24px 0;
}
.card-another-description {
    margin-top: auto;
}

.digital-btn1 {
    color: #fff;
    font-weight: 600;
    border: #548ff5d9;
    padding: 11px 22px;
    border-radius: 8px;
    background: #5490f5;
}
.digital-btn2 {
    color: #fff;
    font-weight: 600;
    border: #128ec793;
    padding: 11px 22px;
    border-radius: 8px;
    background: #071e13bd;
}
.digital-btn3 {
    color: #fff;
    font-weight: 600;
    border: #3bc88493;
    padding: 11px 22px;
    border-radius: 8px;
    background: #d54444d8;
}
/* news letter card style*/
.newsletter-container {
    margin-bottom: 80px;
}
.news-img {
    border-radius: 24px;
}
.news-card-container {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 32px;
    padding: 48px;
    border-radius: 16px;
    background: rgb(246, 245, 245);
}
.news-card-title {
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin: 0;
    margin-bottom: 12px;
}
.news-date {
    margin: 0;
    margin: 12px 0;
}
.news-description {
    margin: 0;
    margin: 12px 0 32px;
}
.news-btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #006a50;
    border-radius: 8px;
    border: 0;
    padding: 13px 26px;
}
.news-btn:hover {
    color: wheat;
    background-color: #092428;
    box-shadow: 0 5px 8px rgba(16, 16, 16, 0.2);
    transition: background-color 0.3s ease;
}
.news-card2 {
    flex-direction: row-reverse;
}
/* donate section style */
.donate-container {
    text-align: center;
}
.donate-description {
    text-align: center;
    max-width: 90%;
}
.donate-amount > ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 32px 0;
}
.taka-donate {
    background: #42f49b98;
}
.donate-amount > ul > li {
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 40px;
}
.donate-amount > ul > li:hover {
    color: wheat;
    background: #197e6a;
}
.amount-donate {
    margin: 0 0 32px 0;
    width: 845px;
    /* align-items: center; */
    padding: 20px 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    background: #fff;
    text-align: center;
}
.done-amount {
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 6px;
    background: #006a50;
    color: white;
    padding: 17px 34px;
    margin-bottom: 32px;
}
.done-amount:hover {
    color: wheat;
    background-color: #2f77f5;
    box-shadow: 0 6px 10px rgba(16, 16, 16, 0.2);
    transition: background-color 0.3s ease;
}
